<html>
<head></head>
<body ng-controller="employeeController">

<div class="container">
<hr>
<button type="button" class="btn btn-info btn-lg pull-right" data-toggle="modal" data-target="#myModal"> Add New</button>

<h2>Employee</h2>
<span class="clearfix"></span>
<hr>
      <table class="table table-striped">
        <thead>
        <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in users">
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModalEdit" ng-click="selectUser(user)">Edit</button>
            </td>
            <td>
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModalDelete">Delete</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!-- Modal add new-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add New User</h4>
            </div>
                 <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-sm-2">First Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="firstName" placeholder="Enter First Name" ng-model="newUser.firstName">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2">Last Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="lastName" placeholder="Enter Last Name" ng-model="newUser.lastName">
                            </div>
                        </div>

                  </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="saveUser()" data-dismiss="modal">Save</button>
                </div>
                   </form>
        </div>

     </div>
</div>



<!-- Modal Edit user -->

<div class="modal fade" id="myModalEdit" tabindex="-1" role="dialog" aria-labelledby="myModallabelEdit">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModallabelEdit">Edit User</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-sm-2">First Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="firstName" placeholder="Enter First Name" ng-model="clickedUser.firstName">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2">Last Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="lastName" placeholder="Enter Last Name" ng-model="clickedUser.lastName">
                        </div>
                    </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="updateUser()" data-dismiss="modal">Save</button>
            </div>
            </form>
        </div>

    </div>
</div>



<!-- Modal Delete User -->

<div class="modal fade" id="myModalDelete" tabindex="-1" role="dialog" aria-labelledby="myModallabelDelete">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModallabelDelete">Delete User</h4>
            </div>
            <div class="modal-body">
               <stong style="color: red;">Are you sure you want to delete {{user.firstName}}</stong>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" ng-click="deleteUser()" data-dismiss="modal">Delete</button>
            </div>
            </form>
        </div>

    </div>
</div>





</body>

</html>